# Terraform files
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/*.tfplan.*
terraform/.terraform/
terraform/.terraform.lock.hcl

# Crash log files
terraform/crash.log
terraform/crash.*.log

# Exclude all .tfvars files
terraform/*.tfvars
terraform/*.tfvars.json